<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

	<head th:replace="fragmentos/head :: head-css">
	
	
	</head>
		
		<title>Home</title>

<body>
			
<div class="page-container">
   <!--/content-inner-->
	<div class="left-content">
	
	<div class="inner-content">

	   			  <div th:replace="fragmentos/top-nav :: top-nav">
				
				</div>
				
				
				<div class="content">


		<div class="clearfix"></div>


             <div th:replace="fragmentos/footer :: footer">
            
            </div>
            
            

</div>

</div>

</div>
<!-- </div> -->
			
<!-- </div> -->

				<div th:replace="fragmentos/side-menu :: side-menu">
		    	</div>


</div>	

<!-- </div> -->

<div th:replace="fragmentos/footer :: script" style="display:none;"></div>
			
</body>
			
			
</html>

