<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

	<head th:replace="fragmentos/head :: head-css">
	
	
	</head>
		
		<title>Cadastros</title>

<body>
			
<div class="page-container">
   <!--/content-inner -->
	<div class="left-content">
	
	<div class="inner-content">

	   			  <div th:replace="fragmentos/top-nav :: top-nav">
				
				</div>
				
				
				<div class="content">

		<div class="mediabox">
					<a href="cadastrocliente" th:href="@{/cliente/cadastro}">
			<i class="fa fa-shopping-cart"></i>
			
			</a>
			<h3>Cliente</h3>
			<p>Cadastros Cliente </p>
		</div>
		
		<div class="mediabox">
					<a href="cadastrousuario" th:href="@{/usuario/cadastro}">
			<i class="fa fa-shopping-cart"></i>
			
			</a>
			<h3>Usuario</h3>
			<p>Cadastros Usuarios </p>
		</div>

		
		<div class="mediabox">
					<a href="cadastroempresa" th:href="@{/empresa/cadastro}">
			<i class="fa fa-shopping-cart"></i>
			
			</a>			<h3>Empresa</h3>
			<p>Cadastros Empresa </p>
		</div>
		
		<div class="mediabox">
					<a href="cadastrofornecedor" th:href="@{/fornecedor/cadastro}">
			<i class="fa fa-shopping-cart"></i>
			
			</a>
			<h3>Fornecedor</h3>
			<p>Cadastros Fornecedores </p>
		</div>
		
		<div class="mediabox">
					<a href="cadastroproduto" th:href="@{/produto/cadastro}" >
			<i class="fa fa-shopping-cart"></i>
			
			</a>			<h3>Produto</h3>
			<p>Cadastros Produto </p>
		</div>
		
				<div class="mediabox">
					<a href="cadastrocategoria" th:href="@{/categoria/cadastro}">
			<i class="fa fa-shopping-cart"></i>
			
			</a>			<h3>Categoria</h3>
			<p>Cadastros Categoria </p>
		</div>
		
		

<div class="clearfix"></div>


             <div th:replace="fragmentos/footer :: footer">
            
            </div>
            
            

</div>

</div>

</div>
<!-- </div> -->
			
<!-- </div> -->

				<div th:replace="fragmentos/side-menu :: side-menu">
		    	</div>


</div>	

<!-- </div> -->

<div th:replace="fragmentos/footer :: script" style="display:none;"></div>
			
</body>
			
			
</html>

