<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

	<head th:replace="fragmentos/head :: head-css">
	
	
	</head>
		
		<title>Movimentações</title>

<body>
			
<div class="page-container">
   <!--/content-inner -->
	<div class="left-content">
	
	<div class="inner-content">

	   			  <div th:replace="fragmentos/top-nav :: top-nav">
				
				</div>
				
				
				<div class="content">
				
		<div class="mediabox">
		<a href="movimentacaocliente"  th:href="@{/cliente/movimentacao}">
			<i class="fa fa-shopping-cart"></i>
			
			</a>
			<h3>Cliente</h3>
			<p>Movimentacao Cliente </p>
		</div>
		
		<div class="mediabox">
					<a href="cadastrousuario" th:href="@{/usuario/movimentacao}">
			<i class="fa fa-shopping-cart"></i>
			
			</a>
			<h3>Usuario</h3>
			<p>Movimentacao Usuarios </p>
		</div>
		
		<div class="mediabox">
					<a href="movimentacaoempresa" th:href="@{/empresa/movimentacao}">
			<i class="fa fa-shopping-cart"></i>
			
			</a>
			<h3>Empresa</h3>
			<p>Movimentacao Empresa </p>
		</div>
		
		
		<div class="mediabox">
					<a href="cadastrofornecedor" th:href="@{/fornecedor/movimentacao}">
			<i class="fa fa-shopping-cart"></i>
			
			</a>
			<h3>Fornecedor</h3>
			<p>Movimentacao Fornecedores </p>
		</div>
		
		<div class="mediabox">
					<a href="movimentacaoproduto" th:href="@{/produto/movimentacao}">
			<i class="fa fa-shopping-cart"></i>
			
			</a>
			<h3>Produto</h3>
			<p>Movimentacao Produto </p>
		</div>
		
				<div class="mediabox">
					<a href="movimentacaocategoria" th:href="@{/categoria/movimentacao}">
			<i class="fa fa-shopping-cart"></i>
			
			</a>
			<h3>Categoria</h3>
			<p>Movimentacao Categoria </p>
		</div>

		<div class="clearfix"></div>

		


             <div th:replace="fragmentos/footer :: footer">
            
            </div>
            
            

</div>

</div>

</div>
<!-- </div> -->
			
<!-- </div> -->

				<div th:replace="fragmentos/side-menu :: side-menu">
		    	</div>


</div>	

<!-- </div> -->

<div th:replace="fragmentos/footer :: script" style="display:none;"></div>
			
</body>
			
			
</html>

