<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head th:replace="fragmentos/head :: head-css">
	</head>

 		 <title>Acesso Negado</title>

			<body>

				<div class="wrapper">

 					<div class="main-panel">

				  	<div th:replace="fragmentos/top-nav :: top-nav">
					
					</div>
	
					<aside>
					    <h2>Acesso Negado</h2>
					
					</aside>

					<main id="posts">
					
					</main>


					
					<footer th:replace="fragmentos/footer :: footer" >
					</footer>

					<div th:replace="fragmentos/footer :: script" style="display:none;"></div>

				</div>
			</div>

		</body>

</html>

