<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

	<head th:replace="fragmentos/head :: head-css">
	
	
	</head>
		
		<title>Contato</title>

<body>
			
<div class="page-container">
   <!--/content-inner-->
	<div class="left-content">
	
	<div class="inner-content">

	   			  <div th:replace="fragmentos/top-nav :: top-nav">
				
				</div>
				
				
				<div class="content">
				
				
	<!-- 				mensagens do sistema  -->
				
		<div class="row-fluid" th:if="${sucesso}">
					
			<div class="alert alert-success">
				<div class="container-fluid">
					<div class="alert-icon">
						<i class="material-icons">check</i>
					</div>
					<button type="button" class="close" data-dismiss="alert"
						aria-label="Close">
						<span aria-hidden="true"><i class="material-icons">clear</i></span>
					</button>
					<b>Mensagem:</b> <span th:utext="${sucesso}">
					
					
					
					</span>

					
				
				</div>
				
				
			</div>
					
					
					
			</div>
					
			<div class="row-fluid" th:if="${erro}">
					
			<div class="alert alert-danger">
				<div class="container-fluid">
					<div class="alert-icon">
						<i class="material-icons">error</i>
					</div>
					<button type="button" class="close" data-dismiss="alert"
						aria-label="Close">
						<span aria-hidden="true"><i class="material-icons">clear</i></span>
					</button>
					<b>Mensagem:</b> <span th:utext="${erro}"></span>
			
				</div>	
				
			</div>
						
					
			</div>
				
<!-- fim das mensagens -->
				
				
<!-- 				<img src="static/img/bannerf.png" th:src="@{img/empresa/{banner}(banner=${empresa.banner})}" alt="banner" class="img-responsive"> -->
				
<!-- 				 </img> -->
				
				<br></br>

                      
                 
<!--                 <div sec:authorize="hasRole('ROLE_ADM')"> -->


<!--  						<div class="col-md-5 skil"> -->
<!-- 								<div class="content-top-1"> -->
<!-- 									<div class="col-md-6 top-content"> -->
<!-- 										<h5>Vendas</h5> -->
<!-- 										<label>8761</label> -->
<!-- 									</div> -->
<!-- 									<div class="col-md-6 top-content1">	    -->
<!-- 										<div id="demo-pie-1" class="pie-title-center" data-percent="25"> <span class="pie-value">25%</span> </div> -->
<!-- 									</div> -->
<!-- 										<div class="clearfix"> </div> -->
<!-- 								</div> -->
								
<!-- 								<div class="content-top-1"> -->
<!-- 									<div class="col-md-6 top-content"> -->
<!-- 										<h5>Entregas</h5> -->
<!-- 										<label>6295</label> -->
<!-- 									</div> -->
<!-- 									<div class="col-md-6 top-content1">	    -->
<!-- 										<div id="demo-pie-2" class="pie-title-center" data-percent="50"> <span class="pie-value">50%</span> </div> -->
<!-- 									</div> -->
<!-- 									 <div class="clearfix"> </div> -->
<!-- 								</div> -->
								
<!-- 								<div class="content-top-1"> -->
<!-- 									<div class="col-md-6 top-content"> -->
<!-- 										<h5>Propostas</h5> -->
<!-- 										<label>3401</label> -->
<!-- 									</div> -->
<!-- 									<div class="col-md-6 top-content1">	    -->
<!-- 										<div id="demo-pie-3" class="pie-title-center" data-percent="75"> <span class="pie-value">75%</span> </div> -->
<!-- 									</div> -->
<!-- 									<div class="clearfix"> </div> -->
<!-- 								</div> -->
								
<!-- 							</div> -->

				
<!-- 				</div>  -->


<img alt="" th:src="@{img/construcao.png}" style="width:65%;" class="img-responsive"> </img>


<div class="clearfix"></div>


             <div th:replace="fragmentos/footer :: footer">
            
            </div>
            
            

</div>

</div>

</div>
<!-- </div> -->
			
<!-- </div> -->

				<div th:replace="fragmentos/side-menu :: side-menu">
		    	</div>


</div>	

<div class="clearfix"></div>

<!-- </div> -->

<div th:replace="fragmentos/footer :: script" style="display:none;"></div>
			
</body>
			
			
</html>

