<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

	<head th:replace="fragmentos/head :: head-css">
	
	
	</head>
		
		<title>Encontros</title>

			<body id="mimin" class="dashboard">
			

	   			  <nav th:replace="fragmentos/top-nav :: nav">
				
				</nav>
				
					<div th:replace="fragmentos/nav :: nav-side"> </div>
				
				
	<!-- 				mensagens do sistema  -->
	
	            <div id="content">
<!--                 <div class="panel"> -->
<!--                   <div class="panel-body"> -->






				
		<div class="row-fluid" th:if="${sucesso}">
					
			<div class="alert alert-success">
				<div class="container-fluid">
					<div class="alert-icon">
						<i class="material-icons">check</i>
					</div>
					<button type="button" class="close" data-dismiss="alert"
						aria-label="Close">
						<span aria-hidden="true"><i class="material-icons">clear</i></span>
					</button>
					<b>Mensagem:</b> <span th:utext="${sucesso}">
					
					
					
					</span>

					
				
				</div>
				
				
			</div>
					
					
					
			</div>
					
			<div class="row-fluid" th:if="${erro}">
					
			<div class="alert alert-danger">
				<div class="container-fluid">
					<div class="alert-icon">
						<i class="material-icons">error</i>
					</div>
					<button type="button" class="close" data-dismiss="alert"
						aria-label="Close">
						<span aria-hidden="true"><i class="material-icons">clear</i></span>
					</button>
					<b>Mensagem:</b> <span th:utext="${erro}"></span>
			
				</div>	
				
			</div>
						
					
			</div>
			

				
<!-- fim das mensagens -->

                <div class="col-md-12">
                    <div class="col-md-12 tabs-area">
                      <div class="liner"></div>
                      <ul class="nav nav-tabs nav-tabs-v5" id="tabs-demo6">
                        <li class="active">
                         <a href="#tabs-demo6-area1" data-toggle="tab" title="welcome" aria-expanded="true">
                          <span class="round-tabs one">
                            <i class="glyphicon glyphicon-home"></i>
                          </span> 
                        </a>
                      </li>

                      <li>
                        <a href="#tabs-demo6-area2" data-toggle="tab" title="profile" aria-expanded="true">
                         <span class="round-tabs two">
                           <i class="glyphicon glyphicon-user"></i>
                         </span> 
                       </a>
                     </li>

                     <li>
                      <a href="#tabs-demo6-area3" data-toggle="tab" title="bootsnipp goodies" aria-expanded="true">
                       <span class="round-tabs three">
                        <i class="glyphicon glyphicon-gift"></i>
                      </span> </a>
                    </li>

                    <li>
                      <a href="#tabs-demo6-area4" data-toggle="tab" title="blah blah" aria-expanded="true">
                       <span class="round-tabs four">
                         <i class="glyphicon glyphicon-comment"></i>
                       </span> 
                     </a>
                   </li>

                   <li><a href="#tabs-demo6-area5" data-toggle="tab" title="completed" aria-expanded="true">
                     <span class="round-tabs five">
                      <i class="glyphicon glyphicon-ok"></i>
                    </span> </a>
                  </li>
                </ul>
                <div class="tab-content tab-content-v5">
                  <div class="tab-pane fade in active" id="tabs-demo6-area1">

                    <h3 class="head text-center">Custom Tabs<sup>™</sup> <span style="color:#f48250;">♥</span></h3>
                    <p class="narrow text-center">
                      Lorem ipsum dolor sit amet, his ea mollis fabellas principes. Quo mazim facilis tincidunt ut, utinam saperet facilisi an vim.
                    </p>

                    <p class="text-center">
                      <a href="" class="btn btn-success btn-round green"> start using Mimin <span style="margin-left:10px;" class="glyphicon glyphicon-send"></span></a>
                    </p>
                  </div>
                  <div class="tab-pane fade" id="tabs-demo6-area2">
                    <h3 class="head text-center">Create a Mimin<sup>™</sup> Profile</h3>
                    <p class="narrow text-center">
                      Lorem ipsum dolor sit amet, his ea mollis fabellas principes. Quo mazim facilis tincidunt ut, utinam saperet facilisi an vim.
                    </p>

                    <p class="text-center">
                      <a href="" class="btn btn-success btn-round green"> create your profile <span style="margin-left:10px;" class="glyphicon glyphicon-send"></span></a>
                    </p>

                  </div>
                  <div class="tab-pane fade" id="tabs-demo6-area3">
                    <h3 class="head text-center">Mimin goodies</h3>
                    <p class="narrow text-center">
                      Lorem ipsum dolor sit amet, his ea mollis fabellas principes. Quo mazim facilis tincidunt ut, utinam saperet facilisi an vim.
                    </p>

                    <p class="text-center">
                      <a href="" class="btn btn-success btn-round green"> start using Mimin <span style="margin-left:10px;" class="glyphicon glyphicon-send"></span></a>
                    </p>
                  </div>
                  <div class="tab-pane fade" id="tabs-demo6-area4">
                    <h3 class="head text-center">Drop comments!</h3>
                    <p class="narrow text-center">
                      Lorem ipsum dolor sit amet, his ea mollis fabellas principes. Quo mazim facilis tincidunt ut, utinam saperet facilisi an vim.
                    </p>

                    <p class="text-center">
                      <a href="" class="btn btn-success btn-round green"> start using Mimin <span style="margin-left:10px;" class="glyphicon glyphicon-send"></span></a>
                    </p>
                  </div>
                  <div class="tab-pane fade" id="tabs-demo6-area5">
                    <div class="text-center">
                      <i class="img-intro icon-checkmark-circle"></i>
                    </div>
                    <h3 class="head text-center">thanks for staying tuned! <span style="color:#f48250;">♥</span> Bootstrap</h3>
                    <p class="narrow text-center">
                      Lorem ipsum dolor sit amet, his ea mollis fabellas principes. Quo mazim facilis tincidunt ut, utinam saperet facilisi an vim.
                    </p>
                  </div>
                  <div class="clearfix"></div>
                </div>
              </div>
            </div>


			<div class="col-md-12" style="padding:20px;">

 			<div class="col-md-12">
                  <div class="panel">
                    <div class="panel-heading">
                      <h4>Custom Badges</h4>
                    </div>
                    <div class="panel-body">
                        <div class="col-md-12 padding-0">
                          <div class="col-md-4 padding-0">
                            <div class="badges-v1">
                             <div class="badges-ribbon">
                              <div class="badges-ribbon-content badge-success">SUCCESS</div>
                            </div>
                          </div>
                          </div>
                          <div class="col-md-4 padding-0">
                            <div class="badges-v1">
                             <div class="badges-ribbon">
                              <div class="badges-ribbon-content badge-primary">PRIMARY</div>
                            </div>
                          </div>
                          </div>
                          <div class="col-md-4 padding-0">
                            <div class="badges-v1">
                              <div class="badges-ribbon">
                                <div class="badges-ribbon-content badge-info">INFO</div>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-4 padding-0">
                            <div class="badges-v1">
                             <div class="badges-ribbon">
                              <div class="badges-ribbon-content badge-danger">DANGER</div>
                            </div>
                          </div>
                          </div>
                          <div class="col-md-4 padding-0">
                            <div class="badges-v1">
                              <div class="badges-ribbon">
                                <div class="badges-ribbon-content badge-default">DEFAULT</div>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-4 padding-0">
                            <div class="badges-v1">
                             <div class="badges-ribbon">
                              <div class="badges-ribbon-content badge-warning">WARNING</div>
                              </div>
                            </div>
                          </div>
                        </div>
                    </div>
                  </div>
                </div>
                


<div th:replace="fragmentos/footer :: script" style="display:none;"></div>
	
	</div>
</div>

	
			
</body>
			
			
</html>

