<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragmentos/head :: head-css">
    <title>Erro</title>
</head>

<body>

	<div class="wrapper">

 			<div class="main-panel">

			  	<div th:replace="fragmentos/top-nav :: top-nav">
				
				</div>
			
			<div class="content">
                <div class="container-fluid">
                    <div class="row">
							<aside>
							    <h2>Erro Erro Erro public sem pasta</h2>
<!-- 							    <a href="#" th:each="p : ${latest5psts}" th:text="${p.title}" -->
<!-- 							       th:href="@{/posts/view/{id}/(id=${p.id})}">Work Begins on HTML5.1</a> -->
							
										<p th:text="${errCode}"></p>
								<p th:text="${errMsg}"></p>
							
							</aside>

							<main id="posts">
							
							</main>

							<footer th:replace="fragmentos/footer ::footer" >

							</footer>
							
							</div>
							</div>
							</div>
							</div>
							</div>
							

			<div th:replace="fragmentos/footer :: script" style="display:none;"></div>

</body>

</html>

