<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

	<head th:replace="fragmentos/head :: head-css">
	
	
	</head>
		
		<title>Esqueci SsENHA</title>

<body id="mimin" class="form-signin-wrapper">

      <div class="container">

        <form class="form-signin">
          <div class="panel periodic-login">
              <span class="atomic-number">69</span>
              <div class="panel-body text-center">
                  <h1 class="atomic-symbol">Un</h1>
                  <p class="atomic-mass">14.072110</p>
                  <p class="element-name">Underground</p>

                  <i class="icons icon-arrow-down"></i>
                  <div class="form-group form-animate-text" style="margin-top:40px !important;">
                    <input type="text" class="form-text" required="required" />
                    <span class="bar"></span>
                    <label>Email</label>
                    <p>Insira seu email para resetar sua Senha</p>
                  </div>

                  <input type="submit" class="btn col-md-12" value="Reset"/>
              </div>
                <div class="text-center" style="padding:5px;">
                    <a th:href="@{/registro}">SignIn</a> | 
                    <a href="reg.html">Signup</a>
                </div>
          </div>
        </form>

      </div>

      <!-- end: Content -->

      <script type="text/javascript">
       $(document).ready(function(){
         
       });
     </script>
     <!-- end: Javascript -->
   </body>
			
			
</html>

