<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

	<head th:replace="fragmentos/head :: head-css">
	
	
	</head>
		
		<title>Home</title>

			<body id="mimin" class="dashboard">
			

	   			  <nav th:replace="fragmentos/top-nav :: nav">
				
				</nav>
				
					<div th:replace="fragmentos/nav :: nav-side"> </div>
				
				
	<!-- 				mensagens do sistema  -->
	
	            <div id="content">
<!--                 <div class="panel"> -->
<!--                   <div class="panel-body"> -->






				
		<div class="row-fluid" th:if="${sucesso}">
					
			<div class="alert alert-success">
				<div class="container-fluid">
					<div class="alert-icon">
						<i class="material-icons">check</i>
					</div>
					<button type="button" class="close" data-dismiss="alert"
						aria-label="Close">
						<span aria-hidden="true"><i class="material-icons">clear</i></span>
					</button>
					<b>Mensagem:</b> <span th:utext="${sucesso}">
					
					
					
					</span>

					
				
				</div>
				
				
			</div>
					
					
					
			</div>
					
			<div class="row-fluid" th:if="${erro}">
					
			<div class="alert alert-danger">
				<div class="container-fluid">
					<div class="alert-icon">
						<i class="material-icons">error</i>
					</div>
					<button type="button" class="close" data-dismiss="alert"
						aria-label="Close">
						<span aria-hidden="true"><i class="material-icons">clear</i></span>
					</button>
					<b>Mensagem:</b> <span th:utext="${erro}"></span>
			
				</div>	
				
			</div>
						
					
			</div>
			
			<div sec:authorize="hasRole('ROLE_ADM')">
			
			 <div class="panel">
                  <div class="panel-body">
                      <div class="col-md-6 col-sm-12">
                        <h3 class="animated fadeInLeft">Visao Administrador</h3>
                        <p class="animated fadeInDown"><span class="fa  fa-map-marker"></span> Batavia,Indonesia</p>

                        <ul class="nav navbar-nav">
                            <li><a href="" >Impedit</a></li>
                            <li><a href="" class="active">Virtute</a></li>
                            <li><a href="">Euismod</a></li>
                            <li><a href="">Explicar</a></li>
                            <li><a href="">Rebum</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="col-md-6 col-sm-6 text-right" style="padding-left:10px;">
                          <h3 style="color:#DDDDDE;"><span class="fa  fa-map-marker"></span> Banyumas</h3>
                          <h1 style="margin-top: -10px;color: #ddd;">30<sup>o</sup></h1>
                        </div>
                        <div class="col-md-6 col-sm-6">
                           <div class="wheather">
                            <div class="stormy rainy animated pulse infinite">
                              <div class="shadow">
                                
                              </div>
                            </div>
                            <div class="sub-wheather">
                              <div class="thunder">
                                
                              </div>
                              <div class="rain">
                                  <div class="droplet droplet1"></div>
                                  <div class="droplet droplet2"></div>
                                  <div class="droplet droplet3"></div>
                                  <div class="droplet droplet4"></div>
                                  <div class="droplet droplet5"></div>
                                  <div class="droplet droplet6"></div>
                                </div>
                            </div>
                          </div>
                        </div>                   
                    </div>
                  </div>                    
                </div>
				
<!-- fim das mensagens -->


			<div class="col-md-12" style="padding:20px;">

 				<div class="col-md-12 padding-0">		
 					<div class="col-md-8 padding-0">
                            <div class="col-md-12 padding-0">
                                <div class="col-md-6">
                                    <div class="panel box-v1">
                                      <div class="panel-heading bg-white border-none">
                                        <div class="col-md-6 col-sm-6 col-xs-6 text-left padding-0">
                                          <h4 class="text-left">Usuario</h4>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-6 text-right">
                                           <h4>
                                           <span class="icon-user icons icon text-right"></span>
                                           </h4>
                                        </div>
                                      </div>
                                      <div class="panel-body text-center">
                                        <h1>51181,320</h1>
                                        <p>Usuarios Active</p>
                                        <hr/>
                                      </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="panel box-v1">
                                      <div class="panel-heading bg-white border-none">
                                        <div class="col-md-6 col-sm-6 col-xs-6 text-left padding-0">
                                          <h4 class="text-left">Encontros</h4>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-6 text-right">
                                           <h4>
                                           <span class="icon-basket-loaded icons icon text-right"></span>
                                           </h4>
                                        </div>
                                      </div>
                                      <div class="panel-body text-center">
                                        <h1>51181,320</h1>
                                        <p>Nova Orders</p>
                                        <hr/>
                                      </div>
                                    </div>
                                </div>
                            </div>
<!--                             <div class="col-md-12"> -->
<!--                                 <div class="panel box-v4"> -->
<!--                                     <div class="panel-heading bg-white border-none"> -->
<!--                                       <h4><span class="icon-notebook icons"></span> Agenda</h4> -->
<!--                                     </div> -->
<!--                                     <div class="panel-body padding-0"> -->
<!--                                         <div class="col-md-12 col-xs-12 col-md-12 padding-0 box-v4-alert"> -->
<!--                                             <h2>Checking Your Server!</h2> -->
<!--                                             <p>Daily Check on Server status, mostly looking at servers with alerts/warnings</p> -->
<!--                                             <b><span class="icon-clock icons"></span> Today at 15:00</b> -->
<!--                                         </div> -->
<!--                                         <div class="calendar"> -->
                                          
<!--                                         </div> -->
<!--                                     </div> -->
<!--                                 </div>  -->
<!--                             </div> -->
                        </div> 						
 						
 						
 						
 						
 						<div class="col-md-4">
                            <div class="col-md-12 padding-0">
                              <div class="panel box-v2">
                                  <div class="panel-heading padding-0">
                                    <img th:src="@{/img/bg2.jpg}"  class="box-v2-cover img-responsive"/>
                                    <div class="box-v2-detail">
                                      <img th:src="@{/img/sof.jpg}" class="img-responsive"/>
                                      <h4 th:utext="${usuarioAtt.email}">Akihiko Avaron</h4>
                                    </div>
                                  </div>
                                  <div class="panel-body">
                                    <div class="col-md-12 padding-0 text-center">
                                      <div class="col-md-4 col-sm-4 col-xs-6 padding-0">
                                          <h3>2.000</h3>
                                          <p>Encontros</p>
                                      </div>
                                      <div class="col-md-4 col-sm-4 col-xs-6 padding-0">
                                          <h3>2.232</h3>
                                          <p>share</p>
                                      </div>
                                      <div class="col-md-4 col-sm-4 col-xs-12 padding-0">
                                          <h3>4.320</h3>
                                          <p>Fotos</p>
                                      </div>
                                    </div>
                                  </div>
                              </div>
                            </div>
							</div>

							</div>

  		 		<div class="col-md-12 card-wrap padding-0">
                    <div class="col-md-6">
                        <div class="panel">
                          <div class="panel-heading bg-white border-none" style="padding:20px;">
                            <div class="col-md-6 col-sm-6 col-sm-12 text-left">
                              <h4>Line Chart</h4>
                            </div>
                            <div class="col-md-6 col-sm-6 col-sm-12">
                                <div class="mini-onoffswitch pull-right onoffswitch-danger" style="margin-top:10px;">
                                  <input type="checkbox" name="onoffswitch2" class="onoffswitch-checkbox" id="myonoffswitch1" checked="checked" />
                                  <label class="onoffswitch-label" for="myonoffswitch1"></label>
                                </div>
                            </div>
                          </div>
                          <div class="panel-body" style="padding-bottom:50px;">
                              <div id="canvas-holder1">
                                    <canvas class="line-chart" style="margin-top:30px;height:200px;"></canvas>
                              </div>
                              <div class="col-md-12" style="padding-top:20px;">
                                  <div class="col-md-4 col-sm-4 col-xs-6 text-center">
                                      <h2 style="line-height:.4;">$100.21</h2>
                                      <small>Total Laba</small>
                                  </div>
                                  <div class="col-md-4 col-sm-4 col-xs-6 text-center">
                                      <h2 style="line-height:.4;">2000</h2>
                                      <small>Total Barang</small>
                                  </div>
                                  <div class="col-md-4 col-sm-4 col-xs-12 text-center">
                                      <h2 style="line-height:.4;">$291.1</h2>
                                      <small>Total Pengeluaran</small>
                                  </div>
                              </div>
                          </div>
                        </div>
                    </div> 
                    
                  
                  
                    <div class="col-md-6">
                        <div class="panel">
                          <div class="panel-heading bg-white border-none" style="padding:20px;">
                            <div class="col-md-6 col-sm-6 col-sm-12 text-left">
                              <h4>Orders</h4>
                            </div>
                            <div class="col-md-6 col-sm-6 col-sm-12">
                                <div class="mini-onoffswitch pull-right onoffswitch-primary" style="margin-top:10px;">
                                  <input type="checkbox" name="onoffswitch3" class="onoffswitch-checkbox" id="myonoffswitch3" checked="checked" />
                                  <label class="onoffswitch-label" for="myonoffswitch3"></label>
                                </div>
                            </div>
                          </div>
                          <div class="panel-body" style="padding-bottom:50px;">
                              <div id="canvas-holder1">
                                <canvas class="bar-chart"></canvas>
                              </div>
                              <div class="col-md-12 padding-0" >
                                <div class="col-md-4 col-sm-4 hidden-xs" style="padding-top:20px;">
                                  <canvas class="doughnut-chart2"></canvas>
                                </div>
                                <div class="col-md-8 col-sm-8 col-xs-12">
                                    <h4>Progress Produksi barang</h4>
                                    <p>Sed hendrerit. Curabitur blandit mollis lacus. Duis leo. Sed libero.fusce commodo aliquam arcu..</p>
                                    <div class="progress progress-mini">
                                      <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;">
                                        <span class="sr-only">60% Complete</span>
                                      </div>
                                    </div>
                                </div>
                              </div>
                          </div>
                        </div>
                    </div>
<!--                     </div> -->
                    
            
	                    <div class="col-md-12">
                        <div class="panel bg-green text-white">
                            <div class="panel-body">
                              <div class="col-md-8 col-sm-8 col-xs-12">
                                <div class="maps" style="height:300px;">
                                </div>
                              </div>
                              <div class="col-md-4 col-sm-4 col-xs-12">
                                  <canvas class="doughnut-chart hidden-xs"></canvas>
                                  <div class="col-md-12">
                                    <div class="col-md-6 col-sm-12 col-xs-12">
                                      <h1>72.993</h1>
                                      <p>People</p>
                                    </div>
                                    <div class="col-md-6 col-sm-12 col-xs-12">
                                       <h1>12.000</h1>
                                       <p>Active</p>
                                    </div>
                                  </div>
                              </div>
                            </div>
                        </div>
                    </div>
                    </div>
           </div>
                    

	
	</div>
	
	<div sec:authorize="hasRole('ROLE_CLIENTE')">
	
			              <div class="panel box-shadow-none content-header">
                  <div class="panel-body">
                    <div class="col-md-12">
                        <h3 class="animated fadeInLeft">Cliente</h3>
                        <p class="animated fadeInDown">
                          Pages <span class="fa-angle-right fa"></span> Pagina Cliente
                        </p>
                    </div>
                  </div>
              </div>
	
	<div class="col-md-4">
                            <div class="col-md-12 padding-0">
                              <div class="panel box-v2">
                                  <div class="panel-heading padding-0">
                                    <img class="box-v2-cover img-responsive" th:src="@{/img/bg2.jpg}" />
                                    <div class="box-v2-detail">
                                      <img class="img-responsive" th:src="@{/img/avatar.jpg}" />
                                      <h4 th:utext="${usuarioAtt.email}">WINDSON</h4>
                                    </div>
                                  </div>
                                  <div class="panel-body">
                                    <div class="col-md-12 padding-0 text-center">
                                      <div class="col-md-4 col-sm-4 col-xs-6 padding-0">
                                          <h3>2.000</h3>
                                          <p>Post</p>
                                      </div>
                                      <div class="col-md-4 col-sm-4 col-xs-6 padding-0">
                                          <h3>2.232</h3>
                                          <p>share</p>
                                      </div>
                                      <div class="col-md-4 col-sm-4 col-xs-12 padding-0">
                                          <h3>4.320</h3>
                                          <p>photos</p>
                                      </div>
                                    </div>
                                  </div>
                              </div>
                            </div>
							</div>
	
	
	
	</div>
	
		<div sec:authorize="hasRole('ROLE_MODELO')">
		
		              <div class="panel box-shadow-none content-header">
                  <div class="panel-body">
                    <div class="col-md-12">
                        <h3 class="animated fadeInLeft">Modelo</h3>
                        <p class="animated fadeInDown">
                          Pages <span class="fa-angle-right fa"></span> Pagina Modelo
                        </p>
                    </div>
                  </div>
              </div>
	
	<div class="col-md-4">
                            <div class="col-md-12 padding-0">
                              <div class="panel box-v2">
                                  <div class="panel-heading padding-0">
                                    <img class="box-v2-cover img-responsive" th:src="@{/img/bg2.jpg}" />
                                    <div class="box-v2-detail">
                                      <img class="img-responsive" th:src="@{/img/avatar.jpg}" />
                                      <h4 th:utext="${usuarioAtt.email}">WINDSON</h4>
                                    </div>
                                  </div>
                                  <div class="panel-body">
                                    <div class="col-md-12 padding-0 text-center">
                                      <div class="col-md-4 col-sm-4 col-xs-6 padding-0">
                                          <h3>2.000</h3>
                                          <p>Post</p>
                                      </div>
                                      <div class="col-md-4 col-sm-4 col-xs-6 padding-0">
                                          <h3>2.232</h3>
                                          <p>share</p>
                                      </div>
                                      <div class="col-md-4 col-sm-4 col-xs-12 padding-0">
                                          <h3>4.320</h3>
                                          <p>photos</p>
                                      </div>
                                    </div>
                                  </div>
                              </div>
                            </div>
							</div>
	
	
	
	</div>

	<div th:replace="fragmentos/footer :: script" style="display:none;"></div>
	
	</div>
			
</body>
			
			
</html>

