<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" >

<head th:replace="fragmentos/head :: head-css">
</head>
    <title>Login</title>

	<body id="mimin" class="dashboard form-signin-wrapper">
			
	  <div class="container">

        <form class="form-signin"  method="post" th:object="${usuario}" th:action="@{/login}" role="form">
          <div class="panel periodic-login">
              <span class="atomic-number">69</span>
              <div class="panel-body text-center">
                  <h1 class="atomic-symbol">Un</h1>
                  <p class="atomic-mass">69.123</p>
                  <p class="element-name">Underground</p>

                  <i class="icons icon-arrow-down"></i>
                  <div class="form-group form-animate-text" style="margin-top:40px !important;">
                    <input type="text" id="email" name="email"  class="form-text" required="required" />
                    <span class="bar"></span>
                    <label>Username</label>
                  </div>
                  <div class="form-group form-animate-text" style="margin-top:40px !important;">
                    <input type="password"  id="senha" name="senha" class="form-text" required="required" />
                    <span class="bar"></span>
                    <label>Password</label>
                  </div>
                  <label class="pull-left">
                  <input type="checkbox" class="icheck pull-left" name="checkbox1"/> Remember me
                  </label>
                  <input type="submit" class="btn col-md-12" value="SignIn"/>
              </div>
                <div class="text-center" style="padding:5px;">
                    <a th:href="@{/esquecisenha}">Esqueci a Senha</a>
                    <a th:href="@{/registro}">| Registre-se</a>
                </div>
          </div>
        </form>

      </div>


<!--           <div class="login" > -->
<!-- 			<form method="post" th:object="${usuario}" th:action="@{/login}" role="form" > -->
<!--               <div> -->
<!-- 		    	<input type="text" id="username" name="username" class="form-control" -->
<!-- 		           th:value="${username}" placeholder="Digite seu Usuario"/> -->
		           
<!-- 		      </div> -->
<!--               <div> -->
<!-- 		    	<input type="password" id="senha" name="senha" class="form-control" -->
<!-- 		           th:value="${senha}" placeholder="Digite sua Senha"/> -->
<!-- 		      </div> -->
		      
<!--               <div> -->
<!-- 		   		 <button type="submit" value="login" class="btn btn-success">Entrar</button> -->
<!--                 	<span class=""><a class="reset_pass" th:href="@{/usuario/lost}"><small>Perdeu sua Senha?</small></a></span> -->
<!--               </div> -->


<!--             </form> -->
<!--           </div> -->
        
        
<!--       </div> -->


                      <div th:replace="fragmentos/footer :: script">
      </div>
      
      
  
      
  </body>
  



</html>
