<!-- <!DOCTYPE html> -->
<!-- <html xmlns:th="http://www.thymeleaf.org"> -->

<!-- <head th:replace="fragmentos/head :: head-css"> -->

<!-- </head> -->

<!--     <title>Simular</title> -->



<!-- <body onload="draw()" bgcolor="white"> -->

<!--  <div class="wrapper"> -->
	
<!-- 		    <div th:replace="fragmentos/side-menu :: side-menu"> -->
<!-- 	    	</div> -->

<!--  <div class="main-panel"> -->

<!-- 			  	<div th:replace="fragmentos/top-nav :: top-nav"> -->
				
<!-- 				</div> -->
	
<!-- 		 <div class="content"> -->
<!--                 <div class="container-fluid"> -->
<!--                     <div class="row"> -->
<!--                         <div class="col-md-12"> -->
<!--                             <div class="card"> -->
<!--                                 <div class="card-header" data-background-color="blue"> -->
<!--                                     <h4 class="title">Simular</h4> -->
                                   
<!--                                                                         <span class="pull-right"> <a href="#myAlert" data-toggle="modal" > <i class="material-icons" title="simular MegaSena">assessment</i> </a> </span> -->
<!--                                                                         <span class="pull-right"> <a href="#myAlert" data-toggle="modal" > <i class="material-icons" title="simular LotoFacil" >assessment</i> </a> </span> -->
<!--                                                                         <span class="pull-right"> <a href="#myAlert" data-toggle="modal" > <i class="material-icons" title="simular Lotomania" >assessment</i> </a> </span> -->
                                   
<!--                                     <p class="category"> Simulacao </p> -->
<!--                                 </div> -->
<!--                                 <div class="card-content table-responsive"> -->
                                
<!-- <!--                                     <div id="chart_div"></div> --> -->
                                    
<!-- <!--                                   <center> <canvas id="canvas" width="640" height="480">Seubrowser n&amp;atilde;o suporta canvas! --> -->
                                    
<!-- <!--                                     </canvas> </center>  --> -->

<!-- 			                    <div class="col-md-4"> -->
<!-- 			                            <div class="card"> -->
<!-- 			                                <div class="card-header card-chart" data-background-color="blue"> -->
<!-- 			                                    <div class="ct-chart" id="emailsSubscriptionChart"></div> -->
<!-- 			                                </div> -->
<!-- 			                                <div class="card-content"> -->
<!-- 			                                    <h4 class="title">Email Subscriptions</h4> -->
<!-- 			                                    <p class="category">Last Campaign Performance</p> -->
<!-- 			                                </div> -->
<!-- 			                                <div class="card-footer"> -->
<!-- 			                                    <div class="stats"> -->
<!-- 			                                        <i class="material-icons">access_time</i> campaign sent 2 days ago -->
<!-- 			                                    </div> -->
<!-- 			                                </div> -->
<!-- 			                            </div> -->
<!-- 			                        </div> -->
			                        
			                        
<!-- 			                                                <div class="col-md-4"> -->
<!-- 			                            <div class="card"> -->
<!-- 			                                <div class="card-header card-chart" data-background-color="red"> -->
<!-- 			                                    <div class="ct-chart" id="completedTasksChart"></div> -->
<!-- 			                                </div> -->
<!-- 			                                <div class="card-content"> -->
<!-- 			                                    <h4 class="title">Completed Tasks</h4> -->
<!-- 			                                    <p class="category">Last Campaign Performance</p> -->
<!-- 			                                </div> -->
<!-- 			                                <div class="card-footer"> -->
<!-- 			                                    <div class="stats"> -->
<!-- 			                                        <i class="material-icons">access_time</i> campaign sent 2 days ago -->
<!-- 			                                    </div> -->
<!-- 			                                </div> -->
<!-- 			                            </div> -->
<!-- 			                        </div> -->


                                    
<!--                                 </div> -->
<!--                             </div> -->
<!--                         </div> -->

<!--                     </div> -->
<!--                 </div> -->
<!--             </div> -->
						

<!-- 						<footer th:replace="fragmentos/footer :: footer"> -->
						
<!-- 						</footer> -->


<!-- 					</div> -->


<!-- 				</div> -->
				
<!-- 				<div th:replace="fragmentos/footer :: script" style="display:none;"></div> -->
				
<!-- 		</body> -->

<!-- </html> -->
